FRONTEND
<p>- / = basic json</p>
<p>- /upload = image upload file</p>   
<p>- /sitemap = sitemap of all urls and their workflows</p>


BACKEND APIS
<P>- /api/daani/getblogs  = get all blog details </P>
<P>- /api/daani/uploadImg (POST)  = SAVE iMAGE </P>