<h1>Upload Image</h1>
<form action="/api/daani/uploadImg" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <input type="file" class="form-control-file" name="image">
    <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
    <input type="submit" value="Get me the stats!" class="btn btn-default">
    <h5>Congratulations</h5>
  </div>
</form>